requests ~= 2.25.1
lxml ~= 4.6.2
genanki ~= 0.10.1
tqdm ~= 4.56.0
pykakasi ~= 2.0.6
unidic-lite ~= 1.0.8
fugashi ~= 1.1.0
retry ~= 0.9.2
spacy ~= 3.0.5

# testing only dependencies below this line
pytest-cov ~= 2.11.1

